<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		
		<title>博雅游戏</title>
		<link rel="stylesheet" type="text/css" href="../static/css/public.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/game.css" />
		<script type="text/javascript" src="../static/lib/jquery-1.11.1.js"></script>
		<script type="text/javascript" src="../static/js/public.js"></script>
		<script type="text/javascript" src="../static/js/game.js"></script>
	</head>
	<body>
		<!--头部-->
		<div class="header">
			<!--导航条-->
			<div class="tops"></div>
			
			<div class="gamebanner"></div>

		</div>
		
		<div class="area">
			<div class="location">
				
				<span class="dlnews">
					
					<a href="index.html" class="index"></a> 
					<em></em>
					<a href="about.html">博雅游戏</a> 
					
				</span>
				<h2 class="news_t">博雅游戏</h2>
			</div>
			
			<div class="gleft">
				<ul class="gnav">
					<li >
						<a href="javascript:;"class="current"> iPhone <i class="iphone"></i></a>
					</li>
					<li>
						<a href="javascript:;"> Android <i class="android"></i></a>
					</li>
					<li>
						<a href="javascript:;"> iPad <i class="ipad"></i></a>
					</li>
					<li>
						<a href="javascript:;"> PC <i class="pc"></i></a>
					</li>
					<li>
						<a href="javascript:;"> TV <i class="tv"></i></a>
					</li>
				</ul>
			</div>
			<div class="gright">
				<!--每个页面都一个div包含ul-->
				
			</div>
		</div>



	<div class="a_footer"></div>	
	</body>
</html>
