<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../static/css/public.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/index.css" />
		<script type="text/javascript" src="../static/lib/jquery-1.11.1.js"></script>
		<script type="text/javascript" src="../static/lib/jquery.color.js"></script>
		<script type="text/javascript" src="../static/js/public.js"></script>
		<script type="text/javascript" src="../static/js/index.js"></script>
	</head>
	<body>
		<div class="header">
			<div class="tops"></div>
		</div>
		<h1>还没写，留着</h1>
	</body>
</html>
