<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}默认标题{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
{% block content %}
    <div class="cont">

        <div class="form-group has-success">
            <div class="col-sm-3">
                <a href="regists.html" class="btn btn-success">增加</a>
            </div>
            <div class="col-sm-3">
                <a href="deletes.html" class="btn btn-danger">删除</a>
            </div>
            <div class="col-sm-3">
                <a href="updates.html" class="btn btn-warning">修改</a>
            </div>
            <div class="col-sm-3">
                <a href="search.html" class="btn btn-primary">查询</a>
            </div>
        </div>


    </div>
{% endblock %}


</body>
</html>