<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'base.html' %}
    {% block title %}欢迎使用删除系统{% endblock %}
</head>
<body>
{% block content %}
    <div class="regist">
        {#    修改数据#}
        <form action="/dels" method="get" class="form-horizontal">
            <div class="form-group has-success">

                <div class="col-sm-9">
                    <input type="text" class="form-control" name="names" placeholder="输入要删除的名字">
                </div>

                <div class="col-sm-3">
                    <input type="submit" class="btn btn-primary  btn-group-sm" value="删除">
                </div>
            </div>


        </form>


        <p>{{ shan }}</p>


    </div>



{% endblock %}
</body>
</html>