{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ user.username }}的个人资料
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/center.css' %}">
    <style>
        .user span {
            display: inline-block;
            min-width: 70px;
            text-align: justify;
            text-align-last: justify;
        {#margin-right: 30px;#}
        }

    </style>

{% endblock %}
{% block content %}
<div class="container">

    <h4 class="tag">基本信息：</h4>

    <ul class="user">
        <li>
            <div><span>用户名</span>：&nbsp;&nbsp;&nbsp;{{ user.username }}</div>
        </li>

        <li>
            <div><span>邮箱</span>：&nbsp;&nbsp;&nbsp;{{ user.email }}</div>
        </li>

        <li>
            <div><span>上次登录</span>：&nbsp;&nbsp;&nbsp;{{ user.last_login |date:"Y-m-d H:i:s" }}</div>
        </li>

    </ul>
    <h4 class="tag">常用的标签：</h4>
    <ul class="tags">

        {#            判断当前登录的用户跟查看的用户是否为同一个人#}
        {% if not mark %}
            Ta还没有标签哦
        {% else %}
        {% ifequal user.username request.user.username %}


        {% for key,v in mark.items %}
            <li><a href="{% url 'myblog:mark' key %}">{{ key }}({{ v }})</a></li>
        {% endfor %}

        {% else %}
        {% for key,v in mark.items %}
            <li><a href="{% url 'blog:marks' key %}">{{ key }}({{ v }})</a></li>
        {% endfor %}
        {% endifequal %}
        {% endif %}


    </ul>
    <div class="blog">
        <h4 class="tag">发布的博客：</h4>
        <ul class="user">
            {% if not blogs %}
                <li>Ta还没有发布过博客哦</li>
            {% else %}
                {% for blog in blogs %}
                    <li><a class="fl oneline" href="{% url 'blog:blog_page' blog.id %}">{{ blog.title }}</a> <span
                            class="fr"> {{ blog.utime|date:"Y-m-d H:i:s" }}</span></li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>

</div>

{% endblock %}