<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<style type="text/css">
		.box{
			width: 500px;height: 300px;background: pink;
		}
	</style>
</head>
<body>
	<div class="box">
		<h1>hello, {{name}}</h1>
	 
		<p>hello, {{user.name | upper}}</p>
		<p>hello, {{user.age}}</p>
		<p>hello, {{user.sex}}</p>

		<p>say, {{user.say | upper}}</p>

<!-- 模板 -->
		{% if user.age %}
			<p>user.age 为{{user.age}}</p>
		{% endif %}



		{% if not user1 %}
			<p>user1不存在</p>
		{% endif %}



		{% for bk in book %}
			<p>{{bk}}</p>
		{% empty %}
			<p>没有书了</p>
		{% endfor %}



		{% for k,v in dic.items %}
			<p>{{k}}:{{v}}</p>
		{% endfor %}

	</div>

</body>
</html>