{% extends 'login/base.html' %}
{% load static %}
{% block title %}主页{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}
{% block content %}
    {#    {% if request.session.is_login %}#}
    {#        <h1>你好,{{ request.session.user_name }}！欢迎回来！</h1>#}
    {#    {% else %}#}
    {#        <h1>你尚未登录，只能访问公开内容！</h1>#}
    {#    {% endif %}#}

    <div class="container">
        <form class='form-search' action="/search/" method="get">
            {% csrf_token %}


                <input type="text" name='title' placeholder="首页的收索近首页，我的页面收索近我的页面"  maxlength="15">
                <button type="submit" class="btn">搜索</button>



        </form>

    <form action="/search" method="get" class="form-horizontal">
            <div class="form-group has-success">

                <div class="col-sm-9">
                    <input type="text" class="form-control" name="title" placeholder="输入你的名字">
                </div>
                <div class="col-sm-3">
                    <input type="submit" class="btn btn-primary  btn-group-sm" value="查询">
                </div>
            </div>


        </form>


        <br>
        <ul class="feedlist_id">
            {% for blog in blogs %}


                <li>
                    <h2><a target="_blank" href="{% url 'blog_page' blog.id %}">{{ blog.title }}</a></h2>
                    <div class="oneline summary">
                        {{ blog.content }}
                    </div>
                    <div class="userbar">
                        <div class="fl">
                            <a class="name" href="#">{{ blog.uname }}</a>
                            <span class="little"></span>
                            <a class="time">{{ blog.utime |date:"Y-m-d H:i:s"}}</a>
                            <span class="little"></span>
                            <a class="marks" href="{% url 'marks' blog.marks %}">{{ blog.marks }}</a>
                        </div>
                        <div class="fr">
                            <a href="#"><span>232</span> 阅读</a>
                            <span class="little"></span>
                            <a href="#"><span>232</span>评论</a>
                        </div>


                    </div>

                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}