{% extends 'blog/base.html' %}
{% load static %}

{% block title %}{{ blog.title }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/blog_page.css' %}">
    {#    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>#}
{% endblock %}
{% block content %}

    <div class="container">
        <h2>{{ blog.title }}</h2>
        <br>

        <div class="userbar">
            <div class="fl">
                <span class="utime">{{ blog.utime |date:"Y-m-d H:i:s"}}</span>

            </div>
            <div class="fr"> {{ blog.rcount }} 阅读</div>

        </div>
        <br>
        <br>
        <div class="blog">
            {{ blog.content|safe }}
        </div>

        <span class="">个人分类：<a class="marks" href="{% url 'marks' blog.marks %}">{{ blog.marks }}</a></span>
        {#        <div style="height: 100px;"></div>#}


        <div class="row">
            <div class="col-md-10">
                <p class="mcoms">全部评论：</p>
                {% if not comm %}
                    <p style="margin-left: 200px;"> 暂无评论，快来发表你的看法吧！</p>
                {% endif %}
                <ul class="clearfix">
                    {% for com in comm %}

                        <li class="col-md-10">
                            <div class="top">
                                <span class="tou"></span>
{#                                {% url 'edit_blog' blog.id %}#}
                                <span class="nick"><a href="{% url 'center:usercenter' com.uses %}">{{ com.uses }}</a></span>
                                <span class="time"> {{ com.ctime |date:"Y-m-d H:i:s" }}</span>
                            </div>

                            <p class="con">{{ com.comms }}</p>

                        </li>

                    {% endfor %}
                </ul>

            </div>
        </div>
        <p class="mcoms">我来评论:</p>
        <div class="comms">


            {% if not request.user.is_authenticated %}
                <div class="gologin">
                    <span class="sp">
                        您暂未登录，请<a href="{% url 'uselogin' %}">登录</a>后再发表评论!
                    </span>
                </div>
            {% endif %}

            <form action="{% url 'blog:blog_page' blog.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="blog_id" value="{{ blog.id }}">

                <textarea class="pcon " name="comment" maxlength="300" required></textarea>

                <button type="submit" class="btn btn-primary pull-right">发表</button>


            </form>
        </div>

    </div>
{% endblock %}





