{% extends 'blog/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script type="text/javascript" src="{% static 'js/blog.js' %}"></script>
    <style type="text/css">
        .myblog {
            background-color: #e7e7e7;
        }

    </style>
{% endblock %}
{% block title %}
    {% if request.user.is_authenticated %}
        {{ request.user }}的博客
    {% else %}
        我的博客

    {% endif %}
{% endblock %}

{% block content %}

    <div class="container">

        <form action="{% url 'mysearch' %}" method="get" class="form-horizontal"
              style="padding-left: 40px;">
            <div class="row">
                <div class="col-md-10 col-sm-10  pull-right">
                    <div class="col-md-1 col-sm-2 pull-right">
                        <input type="submit" class="btn btn-primary  btn-group-sm" value="查询">
                    </div>
                    <div class="col-md-3 col-sm-8 has-success pull-right" style="padding: 0;">
                        <input type="text" class="form-control" name="title" placeholder="输入要搜索的博客标题" maxlength="50">
                    </div>

                </div>


                <div class="col-md-2 col-sm-2 pull-left">

                    <div class=" pull-left has-success">

                        <a href="{% url 'edit_blog' 0 %}" style="color: white;text-decoration: none;" id="addblog"
                           class="btn btn-success">新增博客</a>
                    </div>

                </div>
            </div>
        </form>
        <br>
        {% if blogs %}
            <ul class="feedlist_id">


                {% for blog in blogs %}

                    <li id="blog{{ blog.id }}">
                        <h2><a target="_blank" href="{% url 'blog:blog_page' blog.id %}">{{ blog.title }}</a></h2>
                        <div class="oneline summary">
                            {{ blog.content }}
                        </div>
                        <div class="userbar">
                            <div class="fl">

                                <a class="marks" href="{% url 'edit_blog' blog.id %}">编辑</a>
                                <span class="little"></span>
                                <a class="marks" href="{% url 'del_blog' blog.id %}" onclick="del()">删除</a>
                                <span class="little"></span>
                                <a class="time">{{ blog.utime |date:"Y-m-d H:i:s"}}</a>
                                <span class="little"></span>
                                <a class="marks" href="{% url 'marks' blog.marks %}">{{ blog.marks }}</a>

                            </div>
                            <div class="fr">
                                <a href="#"><span>{{ blog.rcount }}</span> 阅读</a>
                                <span class="little"></span>
                                <a href="#"><span>{{ blog.coms }}</span>评论</a>
                            </div>
                        </div>

                    </li>
                {% endfor %}
            </ul>


            {#    分页#}
            <ul class="pagination" id="pager">
                <li class="previous"><a href="?page=1">首页</a></li>
                {#上一页按钮开始#}
                {# 如果当前页有上一页#}
                {% if blogs.has_previous %}
                    {#  当前页的上一页按钮正常使用#}
                    <li class="previous"><a href="?page={{ blogs.previous_page_number }}">上一页</a></li>
                {% else %}
                    {# 当前页的不存在上一页时,上一页的按钮不可用#}
                    <li class="previous disabled"><a href="javascript:void(0);">上一页</a>

                    </li>
                {% endif %}
                {#上一页按钮结束#}
                <li>
                    <input type="text" id="gotoPage" class="form-control pull-left" placeholder="{{ currentPage }}"
                           onkeyup="this.value=this.value.replace(/\D/g,'')"
                           style="width: 80px; display: inline-block; text-align: center;">
                    <a id="pageBtn" class="btn btn-default" href="" style="margin-left: 0;">GO</a>

                </li>
                {# 下一页按钮开始#}
                {% if blogs.has_next %}
                    <li class="next"><a href="?page={{ blogs.next_page_number }}">下一页</a></li>
                {% else %}
                    <li class="next disabled"><a href="javascript:void(0);">下一页</a></li>
                {% endif %}
                {# 下一页按钮结束#}
                <li class="previous"><a href="?page={{ paginator.num_pages }}">尾页</a></li>
                <li class="counts"> 共{{ paginator.num_pages }}页，当前第{{ currentPage }}页</li>

            </ul>

        {% else %}
            {#在用户没有博客，或者搜索博客为空时显示#}
            <div style="height: 300px;text-align: center;padding-top: 200px;">还没有博客，快去写写吧！<br>
                <a href="{% url 'edit_blog' 0 %}">去写博客啦</a></div>
        {% endif %}

    </div>


    <script type="text/javascript">
        function del() {
            if (!confirm("确认要删除？")) {
                window.event.returnValue = false;
            }
        }
    </script>

{% endblock %}

